<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    
	<title>Deleting notice</title>
</head>

<body>

	<h2>The book was purchased by users and cannot be deleted</h2>

	<hr>
	
	<a class="btn btn-primary btn-sm mb-3" onclick="history.back();">
		Back to Books
	</a>
		
</body>

</html>