<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
	<title>read</title>
	
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" 
	integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
		
</head>

<body>

		<h2> 
			<div th:text="${author} "></div>
			<div th:text="${title} "></div>
		</h2>
		
		<hr>

		<div th:text="${text}">	
		</div>
		
		<hr>
					
		<a class="btn btn-primary btn-sm mb-3" onclick="history.back();">
		Back to my books
	</a>
</body>

</html>
